* { 
	box-sizing: border-box; 
}
html {
	font-family: Inter, sans-serif;
	background: #232323;
	height:100vh ; /*do I need to define as 100% if body height is defined as 100vh??*/ 
	box-sizing: border-box;
}
.bodyWrapper { 
	margin: auto; 
	height:100vh;
	max-width: 100vw;
	display: grid;
	grid-template-areas:
	   				"n" 
					"c"
					"f";
	grid-template-rows: minmax();
}
/*----------------Tablet + Desktop Styles-----------------*/
@media (min-width: 480px) {
   .bodyWrapper { 
		margin: auto; 
		height:100vh;
		max-width: 100vw;
		display: grid;
		grid-template-areas:
	   				"n n n n" /*default places all content in first column*/
					"c c c c"
					"f f f f";
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: minmax();
	}	
}
header {
	margin: 3rem;
	display: grid;
	grid-template-columns: 0 max-content 5rem auto;
	grid-template-rows: 1.5rem 50px min-content auto auto;
	gap: 0 1rem;
	grid-area: n;
}
h1 {
	grid-column: 1 / 3;
	grid-row: 1 / 5;
	margin: 0;
	font-size: 2.5rem;
	color: whitesmoke;
	border:0.5rem solid #b833e1;
	text-transform: uppercase;	
	text-align: center;
	border-radius: 5px;
}
@media (min-width: 480px) {
	nav {
		writing-mode: vertical-rl;
		grid-column: 3 / 5;
		grid-row: 3;
		background: #0556cb;
		border-radius:5px;
		height:20vh; /*this will need attn*/
	}
}
ul {
	padding: 1rem;
}
li {
	list-style: none;
}
footer{
	grid-area:f;
	margin:5rem;
}
.aboutMe{
	background:#0556cb;
	border-radius:5px;
	height:25vh;
	grid-area: f;
}
#aboutMePic {
	border-radius: 50%;
	max-width:100%;
	max-height:100%;
	height:100%;
	width:auto;
	grid-area:f;
}
/* Inner Grid */
.headerText {
	font:white;
}
h1 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
}
h1 span:nth-child(1) { /* L */
	grid-column: 2;
	grid-row: 1;
}
h1 span:nth-child(2) { /* O */
	grid-column: 3;
	grid-row: 1;
}
h1 span:nth-child(3) { /* U */
	grid-column: 6;
	grid-row: 1;
}
h1 span:nth-child(4) { /* I */
	grid-column: 3;
	grid-row: 2;
}
h1 span:nth-child(5) { /* S */
	grid-column: 4;
	grid-row: 2;
}
h1 span:nth-child(6) { /* E */
	grid-column: 5;
	grid-row: 3;
}
h1 span:nth-child(7) { /* K */
	grid-column: 6;
	grid-row: 3;
}
h1 span:nth-child(8) { /* E */
	grid-column: 1;
	grid-row: 4;
}
h1 span:nth-child(9) { /* R */
	grid-column: 2;
	grid-row: 4;
}
h1 span:nth-child(10) { /* R */
	grid-column: 5;
	grid-row: 5;
}
h1 span:nth-child(11) { /* A */
	grid-column: 3;
	grid-row: 6;
}
h1 span:nth-child(12) { /* D */
	grid-column: 5;
	grid-row: 6;
}

/*Carousel*/
*:before,
*:after {
    box-sizing: border-box;
}
.carousel {
    position: relative;
	width: 80%;
	max-width: 100%;
    height:50vh;
    margin: auto;
	grid-area: c;
	background: #0556cb;
	border-radius: 5px;
}
.carousel-content {
    position: relative;
    overflow: hidden;
    transition: width .4s;
	height: 100%;
}
.slide {
    height: 100%;
    position: absolute;
	transition: left .4s cubic-bezier(.47,.13,.15,.89);;
	white-space: nowrap;
	text-align: center;
	padding: 0.5rem;
}
.slide > img {
    background:inherit;
    max-width:100%;
	max-height:100%;
	vertical-align: middle;
	padding: 0.3rem;
	background:rgb(24, 26, 27);
	border-radius: 5px;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.scroll {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    background-color: rgba(150,150,150,.3);
    width: 20px;
    height: 20px;
    z-index: 2;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    outline: none;
    color: white;
    -webkit-user-select: none;
}
.scroll-left {
    left: -25px;
}
.scroll-right {
    right: -25px;
}
.carousel-arrow-icon-left {
    margin-left: 5px;
    margin-top: 2px;
}
.carousel-arrow-icon-right {
    margin-left: 7px;
    margin-top: 2px;
}
