.grid{
  height:100%;
  width:100%;
  display:grid;
  grid-template-areas:
  "a a e q q l r"
  "a a f f j m m"
  "b c f f k m m"
  "d d g h h n p"
  "d d i h h o u";
  grid-template-rows: repeat(5, 22vh);
  grid-template-columns: repeat(7, 14.286vw);
}
.topBlob{
  z-index:2;
}
.square{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  height:100%;
  width:100%;
  border: solid 4px #e9e9e7;
}
.blob{
  height:100%;
  width: 100%;
}
.a{
  grid-column:1/3;
  grid-row:1/3;
  /*grid-area:a; DOESNT WRK*/
}
.b{
  grid-column:1/2;
  grid-row:3/4;
}
.c{
  grid-column:2/3;
  grid-row:3/4;
}
.d{
  grid-column:1/3;
  grid-row:4/6;
}
.e{
  grid-column:3/4;
  grid-row:1/2;
}
.f{
  grid-column:3/5;
  grid-row:2/4;
  background:#17e9e0;
  height:100%;
  width:100%;
  opacity:100%;
  color:whitesmoke;
  display:flex


}
.f h1 {
	display: grid;
  justify-content:center;
  align-items:center;
	grid-template-columns: repeat(6, 1.6rem);
  grid-template-rows:;
  font-size:2rem;
}
.f h1 span:nth-child(1) { /* L */
	grid-column: 1;
	grid-row: 1;
}
.f h1 span:nth-child(2) { /* O */
	grid-column:2;
	grid-row: 1;
}
.f h1 span:nth-child(3) { /* U */
	grid-column: 5;
	grid-row: 1;
}
.f h1 span:nth-child(4) { /* I */
	grid-column: 2;
	grid-row: 2;
}
.f h1 span:nth-child(5) { /* S */
	grid-column: 3;
	grid-row: 2;
}
.f h1 span:nth-child(6) { /* E */
	grid-column: 4;
	grid-row: 3;
}
.f h1 span:nth-child(7) { /* K */
	grid-column: 6;
	grid-row: 4;
}
.f h1 span:nth-child(8) { /* E */
	grid-column: 1;
	grid-row: 4;
}
.f h1 span:nth-child(9) { /* R */
	grid-column: 1;
	grid-row: 5;
}
.f h1 span:nth-child(10) { /* R */
	grid-column: 4;
	grid-row: 5;
}
.f h1 span:nth-child(11) { /* A */
	grid-column: 2;
	grid-row: 6;
}
.f h1 span:nth-child(12) { /* D */
	grid-column: 4;
	grid-row: 6;
}

.g{
  grid-column:3/4;
  grid-row:4/5;
}
.h{
  grid-column:4/6;
  grid-row:4/6;
}
.i{
  grid-column:3/4;
  grid-row:5/6;
}
.q{
  grid-column:4/6;
  grid-row:1/2;
}
.j{
  grid-column:5/6;
  grid-row:2/3;
}
.k{
  grid-column:5/6;
  grid-row:3/4;
}
.l{
  grid-column:6/7;
  grid-row:1/2;
}
.r{
  grid-column:7/8;
  grid-row:1/2;
}
.m{
  grid-column:6/8;
  grid-row:2/4;
}
.n{
  grid-column:6/7;
  grid-row:4/5;
}
.o{
  grid-column:6/7;
  grid-row:5/6;
}
.p{
  grid-column:7/8;
  grid-row:4/5;
}
.u{
  grid-column:7/8;
  grid-row:5/6;
}
