
@media screen and (min-width:700px){
.grid{
  height:100%;
  width:100%;
  display:grid;
  grid-template-areas:
  "a a e q q l r"
  "a a f f j m m"
  "b c f f k m m"
  "d d g h h n p"
  "d d i h h o u";
  grid-template-rows: repeat(5, 22vh);
  grid-template-columns: repeat(7, 14.286vw);
 }
 .f h1 {
   display: grid;
   justify-content:center;
   align-items:center;
 	 grid-template-columns: repeat(6, 1.6rem);
   grid-template-rows:;
   font-size:2rem;
 }
}
@media screen and (max-width:699px){
.grid{
  height:100%;
  width:100%;
  display:grid;
  grid-template-areas:
  'f f'
  'f f'
  'b e'
  'a a'
  'a a'
  'g o'
  'd d'
  'd d'
  'k p'
  'm m'
  'm m'
  'c j'
  'h h'
  'h h'
  'i l'
  'u u'
  'u u'
  'r n';
  grid-template-rows: repeat(19, 25vh);
  grid-template-columns: repeat(2, 50vw);
 }
 .f h1 {
 	display: grid;
  justify-content:center;
  align-items:center;
 	grid-template-columns: repeat(6, 3.2rem);
  grid-template-rows:;
  font-size:2.4rem;
  margin-left:3vw;
  padding:1rem;
 }
}

.topBlob{
  z-index:2;
}
.square{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  height:100%;
  width:100%;
  border: solid 4px #e9e9e7;
}
.blob{
  height:100%;
  width: 100%;
}
.a{
  grid-area:a;
  /*grid-area:a; DOESNT WRK*/
}
.b{
  grid-area:b;
}
.c{
  grid-area:c;
}
.d{
  grid-area:d;
}
.e{
  grid-area:e;
}
.f{
  grid-area:f;
  background:#17e9e0;
  height:100%;
  width:100%;
  opacity:100%;
  color:whitesmoke;
}
.f h1 span:nth-child(1) { /* L */
	grid-column: 1;
	grid-row: 1;
}
.f h1 span:nth-child(2) { /* O */
	grid-column:2;
	grid-row: 1;
}
.f h1 span:nth-child(3) { /* U */
	grid-column: 5;
	grid-row: 1;
}
.f h1 span:nth-child(4) { /* I */
	grid-column: 2;
	grid-row: 2;
}
.f h1 span:nth-child(5) { /* S */
	grid-column: 3;
	grid-row: 2;
}
.f h1 span:nth-child(6) { /* E */
	grid-column: 4;
	grid-row: 3;
}
.f h1 span:nth-child(7) { /* K */
	grid-column: 6;
	grid-row: 4;
}
.f h1 span:nth-child(8) { /* E */
	grid-column: 1;
	grid-row: 4;
}
.f h1 span:nth-child(9) { /* R */
	grid-column: 1;
	grid-row: 5;
}
.f h1 span:nth-child(10) { /* R */
	grid-column: 4;
	grid-row: 5;
}
.f h1 span:nth-child(11) { /* A */
	grid-column: 2;
	grid-row: 6;
}
.f h1 span:nth-child(12) { /* D */
	grid-column: 4;
	grid-row: 6;
}

.g{
  grid-area:g;
}
.h{
  grid-area:h;
}
.i{
  grid-area:i;
}
.q{
  grid-area:q;
}
.j{
  grid-area:j;
}
.k{
  grid-area:k;
}
.l{
  grid-area:l;
}
.r{
  grid-area:r;
}
.m{
  grid-area:m;
}
.n{
  grid-area:n;
}
.o{
  grid-area:o;
}
.p{
  grid-area:p;
}
.u{
  grid-area:u;
}
