
.bubbles image{
	border-radius:;
	height:50%;
}
.social {
	position: absolute;
	color: white;
	width: 200px;
	height: 200px;
	border: ;
	border-radius: 50%;
	text-align: center;
	transition: all 1.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transform-origin: 50% 50%;
	top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index:2;
}
#luluPic {
	animation-name: lulu;
  animation-duration: 950ms;
  animation-timing-function: ease-in-out;;
  animation-delay: 0s;
  animation-iteration-count: infinite;;
  animation-direction: alternate;
}
@keyframes lulu {
  0% {transform: translate(-30vw, -24vh);}
	100% {transform: translate(-30vw, -26.0vh);}
}
#draco {
	animation-name: draco;
  animation-duration: 900ms;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes draco {
	0% {transform: translate(35vw, -14.7vh);}
	100% {transform: translate(35vw, -16.7vh);}
}
