@media screen and (min-width:1px) and (max-width:599px){
  footer{
    grid-area:f0;
    background:#443695;
    display:flex;
    flex-direction:column;
  }
  footer h2{
    margin:2rem auto 1rem;
    font-size:1.8rem;
    color:white;
  }
}
@media screen and (min-width:600px){
  .index{
    min-height: 100vh;
    min-width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    grid-template-areas:
      "h0 h0 h0 h0 h0 h0 h0 h0 h0 h0 h0 h0"
      "m0 m0 m0 m0 m0 ma ma mb mb mb mb mb"
      "n0 n0 n0 na na na na na na nb nb nb"
      ". f0 f0 f0 f0 f0 f0 f0 f0 f0 f0 .";
    grid-template-rows:10vh 66vh 14vh 60vh;
  }
  .semiCircle{
  	grid-area:ma;
  	height:24vw;
  	width:48vw;
    background:#fccd04;
  	border-radius: 24vw 24vw 0 0;
    display:flex;
    align-items:flex-end;
    justify-content:center;
    z-index:2;
    visibility:visible;
  }
  .semiCirclejr{
    grid-area:ma;
    height:10vw;
    width: 20vw;
    background:#A64AC9;
    border-radius:10vw 10vw 0 0;
  }
  footer{
  	grid-area:f0;
    background:#443695;
    display:flex;
    flex-direction:column;
  }
  footer h2{
    margin:2rem auto 1rem;
    font-size:2rem;
    color:white;
  }
  footer img{
    border-radius:3px;
  }
}
@media screen and (min-width:768px){
  .index{
    min-height: 100vh;
    min-width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    grid-template-areas:
      "h0 h0 h0 h0 h0 h0 h0 h0 h0 h0 h0 h0"
      "m0 m0 m0 m0 m0 ma ma mb mb mb mb mb"
      "n0 n0 n0 na na na na na na nb nb nb"
      "f0 f0 f0 f0 f0 f0 f0 f0 f0 f0 f0 f0";
    grid-template-rows:10vh 70vh 12vh 60vh
  }
  .semiCircle{
  	grid-area:ma;
  	height:24vw;
  	width:48vw;
    background:#fccd04;
  	border-radius: 24vw 24vw 0 0;
    display:flex;
    align-items:flex-end;
    justify-content:center;
    z-index:2;
    visibility:visible;
  }
  .semiCirclejr{
    grid-area:ma;
    height:10vw;
    width: 20vw;
    background:#A64AC9;
    border-radius:10vw 10vw 0 0;
  }
  .button{
    color:white;
    font-size:2.47vh;
    background:#fccd04;
  	border-radius:5px;
    width:30%;
    max-width:144px;
  	height:8vh;
    min-height:;
  	display:flex;
    align-items:center;
    justify-content:center;
    padding:1rem;
    border-radius:10px;
  }
  footer{
  	grid-area:f0;
    background:#443695;
  }
  footer img{
    height: 80%;
    width: 25vw;
    border-radius:3px;
  }
}
/*----------------------------------------------------------------------------*/
:root {
    box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
	margin:0;
	padding:0;
}
html {
  height: 101%;
  width: 100%;
  font-size:16px;
  background:;
  font-family: 'Inter', sans-serif;
  font-weight:900;
}
html, body {
  margin: 0;
  padding: 0;
}
.index{
  min-height: 100vh;
  min-width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-areas:
    "h0 "
    "m0"
    "na"
    "f0";
  grid-template-rows:8vh 50vh 12vh auto;
  grid-template-columns:1fr;
}
header{
	grid-area:h0;
  background:#fccd04;
  display:flex;
  flex-direction:row;
  justify-content:start;
  align-items:center;
  padding-left: 0.8rem;
  font-size:1.2rem;
  color: white;
}
main{
	grid-column-start:1;
	grid-column-end:13;
	grid-row:2;
	background: #1ae8cf;
  display:flex;
  flex-direction:row;
  align-items:flex-end;
  justify-content:center;
}
nav{
	grid-column-start:1;
	grid-column-end:13;
	grid-row:3;
  background:#A64AC9;
  display:inline-flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-evenly;
}
footer{
	grid-area:f0;
  background:#443695;
}
footer img{
  height:;
  width:60vw;
  margin:auto;
  border-radius:5px;
}
.shows{
  margin-top:1rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.shows a {
  margin-bottom:2rem;
}

.button{
  color:white;
  font-size:2.5vh;
  background:#fccd04;
	border-radius:5px;
  width:28vw;
	height:8vh;
  min-height:;
	display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  padding:1rem;
  border-radius:10px;
  text-align:center;
}
.button span{
  vertical-align:middle;
}
