:root {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
	margin:0;
	padding:0;
}
html {
  height: 101%;
  width: 100%;
  font-size:16px;
	background:;
	font-family: 'Inter', sans-serif;
	font-weight:900;
}
body{
	min-height: 100vh;
  min-width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
	display: grid;
	grid-template-areas:
		"h0 h0 h0 h0 h0 h0 h0 h0 h0 h0 h0 h0"
		"m0 m0 m0 m0 m0 ma ma mb mb mb mb mb"
		"n0 n0 n0 na na na na na na nb nb nb"
		"f0 f0 f0 f0 f0 f0 f0 f0 f0 f0 f0 f0";
  grid-template-rows:10vh 58vh 12vh 60vh
}
html, body {
  margin: 0;
  padding: 0;
}
/*----------------------------Desktop Styles----------------------------------*/
@media screen and (min-width:768px){
header{
	grid-area:h0;
	background:#39FF14;
  flex-direction:row;
  justify-content:flex-start;
  align-items:center;
}
header div{
  font-size:4.2vh;
  color: white;
  margin-top:2.5vh;
  margin-left: 1.5vw;
}
main{
	grid-column-start:1;
	grid-column-end:13;
	grid-row:2;
	background: #1ae8cf;
  display:flex;
  flex-direction:row;
  align-items:flex-end;
  justify-content:center;
}
nav{
	grid-column-start:1;
	grid-column-end:13;
	grid-row:3;
	background:#fef200;
  display:inline-flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-evenly;
  padding-right:2.6vw;
}
.semiCircle{
	grid-area:ma;
	height:20vw;
	width:40vw;
	background:#39FF14;
	border-radius: 20vw 20vw 0 0;
  display:flex;
  align-items:flex-end;
  justify-content:center;
  z-index:2;
}
.semiCirclejr{
  grid-area:ma;
  height:8.5vw;
  width: 17vw;
  background:#fef200;
  border-radius:10vw 10vw 0 0;
}
footer{
	grid-area:f0;
	background: #39FF14;
}
footer img{
  height: 80%;
  width: 260px;
  border-radius:3px;
}
.shows{
  margin-top:12px;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items:center;
}
.iLike{
  margin:1.3rem auto 0 28px;
  font-size:3.6rem;
  letter-spacing:0.3rem;
  color:white;
  display:flex;
  flex-direction:row;
  align-items:;
}
.iLike img{
  width:60px;
}
.button{
  color:white;
	grid-area:na;
	background:#f41971;
	border-radius:10px;
	max-width:144px;
	height:8vh;
	display:inline-block;
  padding:1rem;
  border-radius:10px;
  box-shadow: 0 6px 12px rgba(134,140,150,0.65);
}
}
